@tailwind base;
@tailwind components;
@tailwind utilities;

.background-container {
    background-image: url('assets/sebastian-boring-8zD7rs8UpxU-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}